Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
Allow from localhost

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
